* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'stolzl';
    src: url(fonts/stolzl_regular.otf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'stolzl', 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333; /* изменен на темно-серый */
    background-color: #fff; /* изменен на белый */
}

h1, h2, h3 {
    font-weight: bold;
    text-align: center;
    color: #333; /* изменен на темно-серый */
}

#hero {
    background-color: #f5f5f5; /* изменен на светло-серый */
    padding: 100px 0;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: auto;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333; /* изменен на темно-серый */
}

.cta-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f39c12;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.cta-btn:hover {
    background-color: #e77e11;
}

#about {
    background-color: #fff; /* изменен на белый */
    padding: 60px 0;
    text-align: center;
}

.about-content {
    max-width: 800px;
    margin: auto;
    color: #333; /* изменен на темно-серый */
}

#services {
    background-color: #f5f5f5; /* изменен на светло-серый */
    padding: 60px 0;
    text-align: center;
}

.services-content {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.services-list h3, .service h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333; /* изменен на темно-серый */
}

.services-list p, .service p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #666; /* изменен на серый */
}

#contacts {
    background-color: #fff; /* изменен на белый */
    padding: 60px 0;
    text-align: center;
}

.contacts-content {
    max-width: 800px;
    margin: auto;
    color: #333; /* изменен на темно-серый */
}

.contact-info {
    margin-bottom: 40px;
}

.contact-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333; /* изменен на темно-серый */
}

.contact-info a {
    color: #f39c12;
    text-decoration: none;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #f39c12;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #e77e11;
}

header {
    background-color: #fff; /* изменен на белый */
    color: #333; /* изменен на темно-серый */
    padding: 0 0 20px 0;
    text-align: center;
}

.header-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo img {

    width: 100%;
    height: 100%;

    max-width: 300px;
}

.contact-info-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-info-header h3 {
    margin-bottom: 5px;
    color: #333; /* изменен на темно-серый */
}

.contact-info-header a {
    color: #f39c12;
    text-decoration: none;
}







#contacts {
    background-color: #222; /* Темный цвет фона */
    padding: 60px 0;
    text-align: center;
    color: #fff; /* Цвет текста */
}

.contacts-content, .contacts-content h2 {
    max-width: 800px;
    margin: auto;
    color: #ddd; /* Светлее цвет текста для улучшения читаемости */
}


.contact-info {
    margin-bottom: 40px;
}

.contact-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #ddd; /* Светлее цвет текста для улучшения читаемости */
}

.contact-info a {
    color: #f39c12; /* Цвет ссылки */
    text-decoration: none;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    border: 1px solid #555; /* Темный цвет границы */
    border-radius: 5px;
    background-color: #333; /* Темный цвет фона */
    color: #ddd; /* Светлый цвет текста */
}

.contact-form button {
    padding: 10px 20px;
    background-color: #f39c12; /* Цвет кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}









/* НОВЫЙ */


  


  .about-content {
    max-width: 800px;
    margin: auto;
    color: #333; /* изменен на темно-серый */
}

  .about-content img {
    /* width: 100%; */
    max-height: 600px;
  }










  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: 'stolzl';
    src: url(fonts/stolzl_regular.otf);
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'stolzl', 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333; /* изменен на темно-серый */
    background-color: #fff; /* изменен на белый */
  }
  
  h1, h2, h3 {
    font-weight: bold;
    text-align: center;
    color: #333; /* изменен на темно-серый */
  }
  
  #hero {
    background-color: #f5f5f5; /* изменен на светло-серый */
    padding: 100px 0;
    text-align: center;
  }
  
  .hero-content {
    max-width: 800px;
    margin: auto;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333; /* изменен на темно-серый */
  }
  
  .cta-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f39c12;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .cta-btn:hover {
    background-color: #e77e11;
  }
  
  #about {
    background-color: #fff; /* изменен на белый */
    padding: 60px 0;
    text-align: center;
  }
  
  .about-content {
    max-width: 800px;
    margin: auto;
    color: #333; /* изменен на темно-серый */
  }
  
  #services {
    background-color: #f5f5f5; /* изменен на светло-серый */
    padding: 60px 0;
    text-align: center;
  }
  
  .services-content {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .services-list h3, .service h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333; /* изменен на темно-серый */
  }
  
  .services-list p, .service p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #666; /* изменен на серый */
  }
  
  #contacts {
    background-color: #fff; /* изменен на белый */
    padding: 60px 0;
    text-align: center;
  }
  
  .contacts-content {
    max-width: 800px;
    margin: auto;
    color: #333; /* изменен на темно-серый */
  }
  
  .contact-info {
    margin-bottom: 40px;
  }
  
  .contact-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333; /* изменен на темно-серый */
  }
  
  .contact-info a {
    color: #f39c12;
    text-decoration: none;
  }
  
  .contact-form input, .contact-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
  }
  
  .contact-form textarea {
    resize: vertical;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #f39c12;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #e77e11;
  }
  
  header {
    background-color: #fff; /* изменен на белый */
    color: #333; /* изменен на темно-серый */
    padding: 20px 0;
    text-align: center;
  }
  
  .header-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
  
    width: 100%;
    height: 100%;
  
    max-width: 300px;
  }
  
  
  
  
  #contacts {
    background-color: #222; /* Темный цвет фона */
    padding: 60px 0;
    text-align: center;
    color: #fff; /* Цвет текста */
  }
  
  .contacts-content, .contacts-content h2 {
    max-width: 800px;
    margin: auto;
    color: #ddd; /* Светлее цвет текста для улучшения читаемости */
  }
  
  
  .contact-info {
    margin-bottom: 40px;
  }
  
  .contact-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #ddd; /* Светлее цвет текста для улучшения читаемости */
  }
  
  .contact-info a {
    color: #f39c12; /* Цвет ссылки */
    text-decoration: none;
  }
  
  .contact-form input, .contact-form textarea {
    padding: 10px;
    border: 1px solid #555; /* Темный цвет границы */
    border-radius: 5px;
    background-color: #333; /* Темный цвет фона */
    color: #ddd; /* Светлый цвет текста */
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #f39c12; /* Цвет кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  
  
  
  
  
  
  
  /* НОВЫЙ */
  
  
  
  
  
  .about-content {
    max-width: 800px;
    margin: auto;
    color: #333; /* изменен на темно-серый */
  }
  
  .about-content img {
    /* width: 100%; */
    max-height: 600px;
  }
  
  
  
  .map {
    /* width: 1200px; */
    margin: auto;
    max-height: 400px;
  }
  
  .frame_map {
    border: 0;
  }
  
  
  
  
  
  
  
  
  .slider{

    user-select: none;
    

    width: 1300px;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  .slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
  }
  .slider .list img{
    display: block;
    width: 55%;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;

    
  }
  .slider .buttons{
    position: absolute;
    top: 45%;
    left: 1%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    
  }
  .slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #f39c12;
    border: none;
    font-family: monospace;
    font-weight: bold;
    /* border: solid 1px #333; */
  }
  .slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #f39c12;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
    border: solid 1px #333;
  }
  .slider .dots li.active{
    width: 30px;
  }
  
  
  .item {
    display: flex;
    justify-content: center;
    max-width: 1300px;
    width: 100vw;
    scroll-behavior: smooth;
  }
  
  .description {
    width: 45%;
  }
  
  
  
  
  
  
  
  @media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
  }
  




.map {
    /* width: 1200px; */
    margin: auto;
    max-height: 400px;
}

.frame_map {
    border: 0;
}





header {
    position: relative;
    transition: top 2s ease-in-out; /* add transition effect */
  }
  
header.fixed {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* add box shadow for a nice effect */
    transform: translateY(0); /* add translate effect */
    transition: transform 2s ease-in-out; /* add transition effect */
  }